---
import { AstroInstance } from 'astro'
import Layout from '~layouts/base.astro'

type AstroInstanceWithTitle = AstroInstance & { title: string }
const buttonChallenges = (await Astro.glob('./button/*.astro')) as AstroInstanceWithTitle[]
const modalChallenges = (await Astro.glob('./modal/*.astro')) as AstroInstanceWithTitle[]
const calendarDayChallenges = (await Astro.glob(
  './calendar-day/*.astro'
)) as AstroInstanceWithTitle[]
---

<Layout>
  <div class="mx-auto mt-12 max-w-5xl px-4 sm:block">
    <h1 class="text-xl font-medium">Multi-Style Components with Tailwind CSS</h1>
    <h2 class="mt-8 text-lg font-medium">Button</h2>
    <ul class="mt-2">
      {
        buttonChallenges.map((challenge) => (
          <li>
            <a class="underline hover:text-indigo-600" href={challenge.url}>
              {challenge.title}
            </a>
          </li>
        ))
      }
    </ul>

    <h2 class="mt-8 text-lg font-medium">Modal</h2>
    <ul class="mt-2">
      {
        modalChallenges.map((challenge) => (
          <li>
            <a class="underline hover:text-indigo-600" href={challenge.url}>
              {challenge.title}
            </a>
          </li>
        ))
      }
    </ul>

    <h2 class="mt-8 text-lg font-medium">Calendar day</h2>
    <ul class="mt-2">
      {
        calendarDayChallenges.map((challenge) => (
          <li>
            <a class="underline hover:text-indigo-600" href={challenge.url}>
              {challenge.title}
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</Layout>

<style>
  @tailwind base;
  @tailwind components;
  @tailwind utilities;
</style>
